

@import "tailwindcss";

body {
    background-color: #2f3031;
    /* background: linear-gradient(to bottom, green, black); */
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

 


#shadow{
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
  
  /* #homeabsolute {
    background: linear-gradient(to bottom, transparent, black);  } */
    #homeabsolute {
        background: linear-gradient(to bottom, transparent, black);  }


       #btn-border{
border: 2px solid rgb(211, 207, 207);
font-size: 16px;
        }

        input:focus{
          border-color: black;
          outline: none;
        }

        #bb{
          border-bottom: 1px solid #84868b;
        }

        #activebtn{
          border: 2px solid #ffffff;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          background-color: #ffffff;
        }

        #notactivebtn{
            border: 1px solid #ffffff;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          background-color: transparent;
        }